.sideBySide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50vh;
    padding: 10px;
    align-items: center;
}

.techList li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.mainText {
    width: 80%;
}


.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 20px;
    display: flex;
    border: 3px solid rgb(75, 72, 71);
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    box-shadow: 100px;
    max-width: 65vw;
}

.title {
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.subtitle {
    margin: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}